name: GHA BUILD
# run desctiption
run-name: trying to build an image using gha
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  

env:
  IMAGE_NAME: tomsenyah/dicicd

  IMAGE_TAG: 1.0.${{github.run_number}}

  BUILD_CONDT: linux/amd64
jobs:

  build:

    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      
      - uses: docker/login-action@v1

        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      # - name: docker build
      #   run: docker build . --file Dockerfile --tag tomsenyah/dicicd:${{ github.sha }}

      # - name: docker push
      #   run: docker push tomsenyah/dicicd:${{ github.sha }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      # 
      - name: Get Github Event type
        run: |
          if [ ${{ github.event_name }} == 'pull_request' ]; then
            env.BUILD_CONDT="linux/arm64"
          elif [ ${{ github.event_name }} == 'push' ]; then
            env.BUILD_CONDT="linux/amd64,linux/arm64"
          elif [ ${{ github.event_name }} == 'workflow_dispatch' ]; then
            echo "running default cond ${{env.BUILD_CONDT}}"
          else
            echo "This is an unknown event"
          fi
      
      - name: push to docker
        uses: docker/build-push-action@v5
        with:
              context: .
              cache-from: type=gha
              cache-to: type=gha,mode=max
              platforms: ${{env.BUILD_CONDT}}
              push: true
              tags: tomsenyah/dicicd:${{env.IMAGE_TAG }}

      # - name: push command run
      #   uses: docker/build-push-action@v5
      #   if: github.event_name == 'push'
      #   with:
      #     context: .
      #     cache-from: type=gha
      #     cache-to: type=gha,mode=max
      #     platforms: linux/amd64,linux/arm64
      #     push: true
      #     tags: tomsenyah/dicicd:${{env.IMAGE_TAG }}
        # build when its a pr

      # - name: pr command run
      #   uses: docker/build-push-action@v5
      #   if: github.event_name == 'pull_request'
       
      #   with:
      #     context: .
      #     cache-from: type=gha
      #     cache-to: type=gha,mode=max
      #     platforms: linux/amd64
      #     push: true
      #     tags: tomsenyah/dicicd:${{env.IMAGE_TAG}}
        
