name: GHA BUILD
# run desctiption
run-name: trying to build an image using gha
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  

env:
  IMAGE_NAME: tomsenyah/dicicd

  IMAGE_TAG: 1.0.${{github.run_number}}

  BUILD_CONDT: ${{github.event_name}}

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      
      - uses: docker/login-action@v1

        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      # - name: docker build
      #   run: docker build . --file Dockerfile --tag tomsenyah/dicicd:${{ github.sha }}

      # - name: docker push
      #   run: docker push tomsenyah/dicicd:${{ github.sha }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      
 
      - name: push command run
        
        uses: docker/build-push-action@v5
        if: github.event == 'push'
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: tomsenyah/dicicd:${{env.IMAGE_TAG }}

      - name: pr command run
        uses: docker/build-push-action@v5
        if: github.event != 'Pull-Request'
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: tomsenyah/dicicd:${{env.IMAGE_TAG}}
